.contents-page {
    navbar {
        display: block;
        width: 100%;
        background-color: #2e3743;
        .navbar--wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 2rem;
            .navbar-links {
                display: flex;
                align-items: center;
                gap: 5rem;
                ul {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li a {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
        .search {
            display: flex;
            justify-content: center;
            align-items: center;
            &--wrapper {
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                background-color: #f0f1f2;
                border-radius: 9999px;
                padding: 0.8rem 2rem 0.8rem 0;
                box-shadow: 0 0 0 2px #2f3b48;
                input[type="text"] {
                    border: none;
                    background: transparent;
                    font-size: 1.6rem;
                    color: #3a679f;
                    padding: 0.5rem 1rem;
                    outline: none;
                    width: 100%;
                    min-width: 200px;
                    &::placeholder {
                        color: #3a679f;
                        opacity: 0.8;
                    }
                }
                .search-button {
                    background: transparent;
                    border: none;
                    padding: 0;
                    margin-left: 1rem;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    svg {
                        width: 2.4rem;
                        height: 2.4rem;
                        path {
                            fill: #3a679f;
                        }
                    }
                }
            }
        }
    }
    .sidebar,
    .main-content {
        display: inline-block;
    }
    .container {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        height: 100%;
    }
    .sidebar {
        max-width: 30rem;
        height: 100%;
        background-color: #f2f2f2;
        &--wrapper {
            padding: 0 2rem;
            ul {
                padding: 0;
                margin: 0;
            }
        }
        ul li.has-submenu > ul {
            display: none;
        }
        ul {
            li:not(:last-child) {
                margin-bottom: 1rem;
            }
            li {
                position: relative;
                list-style: none;
                & > ul {
                    margin-top: 1rem;
                    padding-inline-start: 2rem;
                }
                &.active > a {
                    background-color: #355276;
                    color: #fff;
                }
                &.has-submenu {
                    &::before,
                    &::after {
                        content: url("/assets/chevron.svg");
                        position: absolute;
                        top: 0;
                        left: 0.5rem;
                        color: #fff;
                        transform: translate(0, 50%);
                        display: inline-block;
                        opacity: 1;
                        transition:
                            opacity 0.2s linear,
                            transform 0.2s linear;
                    }
                    &::after {
                        opacity: 0;
                        content: url("/assets/white-chevron.svg");
                    }
                    &.open::before,
                    &.open::after,
                    &.active::before,
                    &.active::after {
                        transform: translate(0, 50%) rotate(90deg);
                        opacity: 0;
                    }
                    &.active::after {
                        opacity: 1;
                    }
                    &.open::before {
                        transform: translate(0, 50%) rotate(90deg);
                        opacity: 1;
                    }
                }
                a {
                    display: block;
                    font-size: 1.4rem;
                    text-decoration: none;
                    color: #000;
                    width: 100%;
                    height: 100%;
                    padding: 1rem 2rem 1rem 3rem;
                    transition:
                        color 0.2s linear,
                        background-color 0.2s linear;
                }
            }
        }
    }
    .main-content {
        width: 100%;
        height: 100%;
        vertical-align: top;
        background-color: #fff;
        .actionbar {
            background-color: #355276;
            &--wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem 2rem;
                .breadcrumbs {
                    &--wrapper {
                        span {
                            font-size: 1.6rem;
                            color: #fff;
                            &:last-child {
                                font-weight: 600;
                            }
                        }
                    }
                }
                .actions {
                    &--wrapper {
                        display: flex;
                        align-items: center;
                        gap: 4rem;
                        .buttons-wrapper {
                            position: relative;
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                            &:first-child:before {
                                content: "";
                                position: absolute;
                                height: 100%;
                                right: -2rem;
                                background-color: #fff;
                                width: 1px;
                            }
                            button {
                                border: unset;
                                background-color: unset;
                                padding: 0;
                                &:not(.video, .share) {
                                    cursor: pointer;
                                }
                                &.active,
                                &:hover {
                                    &:not(.video, .share) {
                                        svg path {
                                            fill: #000;
                                        }
                                    }
                                }
                                svg {
                                    display: block;
                                    width: 2rem;
                                    path {
                                        transition: fill 0.2s linear;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .content {
            display: none;
            padding: 2.5rem 4rem;
            font-size: 1.4rem;
            &-wrapper {
                &:has(.image-wrapper) {
                    display: flex;
                    align-items: flex-start;
                    gap: 4rem;
                    p {
                        width: 50%;
                    }
                    img {
                        width: 50%;
                        object-fit: cover;
                        border: 1px solid #000;
                    }
                }
                .images-group {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            p {
                line-height: 2.4rem;
                font-size: 1.5rem;
                text-align: justify;
                white-space: pre-line;
            }
            &.active {
                display: block;
            }
        }
    }
}

.hide {
    display: none;
}
