* {
    box-sizing: border-box;
}
html,
body,
main {
    height: 100%;
}

html {
    font-size: 10px;
}

body {
    font-size: 10px;
    font-weight: 400;
    font-family: "Assistant", sans-serif;
    margin: 0;
    &.main-cover-page {
        overflow: hidden;
        .glossary-box {
            margin-top: 10rem;
        }
    }
}

h2.title {
    color: #fff;
    font-weight: 300;
    font-size: 4rem;
    padding: 0 0 2rem;
    border-bottom: 1px solid #fff;
}

.button {
    display: inline-block;
    background: linear-gradient(180deg, #355276 33.02%, #3a679f 100%);
    border: 5px solid #ffffff;
    border-radius: 59px;
    text-decoration: none;
    color: #fff;
    padding: 1rem 4rem;
    transform: translate(0, 50%);
    transition: background-position 0.2s linear;
    &:hover,
    &:focus {
        background-position: 0 53px;
    }
}

.glossary-box {
    height: 100%;
    &:has(.tree) {
        margin-top: 30rem;
    }
    &--wrapper {
        background: rgba(24, 51, 119, 0.03);
        backdrop-filter: blur(20.4px);
        border-radius: 5px;
        padding: 5rem 2rem;
        .title {
            text-align: center;
        }
        ul.selections {
            display: flex;
            align-items: stretch;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10rem;
            list-style: none;
            padding: 0;
            padding: 6rem 0 0;
            margin: 5rem 0 0 0;
            // max-height: 30rem;
            // overflow: auto;
            &.tree {
                padding: 0;
                li {
                    div.sub-tree-item {
                        padding: 5rem 2rem;
                        &--wrapper {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 1rem;
                            background-color: #f1f1f1;
                            height: 100%;
                            strong {
                                font-size: 2rem;
                            }
                            p {
                                margin: 0;
                                font-size: 1.6rem;
                            }
                            .image-wrapper {
                                position: unset;
                                transform: unset;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin: 0 auto;
                                width: 7rem;
                                height: 7rem;
                                transform: translate(0, -50%);
                                img {
                                    width: 3.5rem;
                                    height: 3.5rem;
                                }
                            }
                            .button {
                                margin-top: auto;
                            }
                        }
                    }
                }
            }
            li {
                position: relative;
                border-radius: 15px;
                width: 30rem;
                background-color: #fff;
                box-shadow: inset 0px -2px 1.3px #3a679f;
                transition: box-shadow 0.2s linear;
                &:hover,
                &:focus-within {
                    box-shadow: inset 0px -5px 1.3px #3a679f;
                    .image-wrapper {
                        transform: translate(-50%, -60%);
                    }
                }
                & > a,
                .sub-tree-item {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    font-size: 2.8rem;
                    font-weight: 400;
                    text-decoration: none;
                    color: #1d334f;
                    padding: 7rem 2rem 3rem;
                    .image-wrapper {
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 10rem;
                        height: 10rem;
                        background-color: #1d334f;
                        border-radius: 50%;
                        padding: 2rem;
                        border: 5px solid #fff;
                        overflow: hidden;
                        transition: transform 0.2s linear;
                        img {
                            width: 5rem;
                            height: 5rem;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4.8rem;
}
body {
    overflow: auto;
}
navbar,
.actionbar,
.sidebar {
    position: fixed;
    top: 0;
    z-index: 9;
}
main {
    .cover-page {
        position: relative;
        background-image: url(../assets/background-image-cover-page.png);
        background-repeat: no-repeat;
        background-size: 100vw 90vh;
        background-position: top center;
        & > img {
            position: absolute;
            top: 2rem;
            left: 2rem;
            width: 15rem;
        }
        & > svg {
            position: absolute;
            top: 0;
            &:first-of-type {
                right: 0;
            }
            &:last-of-type {
                left: 0;
            }
            path {
                transition: filter 0.2s linear;
                &.glow {
                    filter: drop-shadow(0 0 10px #fff);
                }
            }
        }
        &--wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 12rem;
            padding: 0 2rem;
            height: 100%;
            &:has(.tree) {
                display: block;
                text-align: start;
                h1 {
                    padding-top: 10rem;
                }
            }
            &:not(:has(.tree)) h1 {
                margin-top: 10rem;
            }
        }
    }
}
@import "./contentspage";
