* {
  box-sizing: border-box;
}

html,
body,
main {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  font-size: 10px;
  font-weight: 400;
  font-family: "Assistant", sans-serif;
  margin: 0;
}
body.main-cover-page {
  overflow: hidden;
}
body.main-cover-page .glossary-box {
  margin-top: 10rem;
}

h2.title {
  color: #fff;
  font-weight: 300;
  font-size: 4rem;
  padding: 0 0 2rem;
  border-bottom: 1px solid #fff;
}

.button {
  display: inline-block;
  background: linear-gradient(180deg, #355276 33.02%, #3a679f 100%);
  border: 5px solid #ffffff;
  border-radius: 59px;
  text-decoration: none;
  color: #fff;
  padding: 1rem 4rem;
  transform: translate(0, 50%);
  transition: background-position 0.2s linear;
}
.button:hover, .button:focus {
  background-position: 0 53px;
}

.glossary-box {
  height: 100%;
}
.glossary-box:has(.tree) {
  margin-top: 30rem;
}
.glossary-box--wrapper {
  background: rgba(24, 51, 119, 0.03);
  -webkit-backdrop-filter: blur(20.4px);
          backdrop-filter: blur(20.4px);
  border-radius: 5px;
  padding: 5rem 2rem;
}
.glossary-box--wrapper .title {
  text-align: center;
}
.glossary-box--wrapper ul.selections {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10rem;
  list-style: none;
  padding: 0;
  padding: 6rem 0 0;
  margin: 5rem 0 0 0;
}
.glossary-box--wrapper ul.selections.tree {
  padding: 0;
}
.glossary-box--wrapper ul.selections.tree li div.sub-tree-item {
  padding: 5rem 2rem;
}
.glossary-box--wrapper ul.selections.tree li div.sub-tree-item--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #f1f1f1;
  height: 100%;
}
.glossary-box--wrapper ul.selections.tree li div.sub-tree-item--wrapper strong {
  font-size: 2rem;
}
.glossary-box--wrapper ul.selections.tree li div.sub-tree-item--wrapper p {
  margin: 0;
  font-size: 1.6rem;
}
.glossary-box--wrapper ul.selections.tree li div.sub-tree-item--wrapper .image-wrapper {
  position: unset;
  transform: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 7rem;
  height: 7rem;
  transform: translate(0, -50%);
}
.glossary-box--wrapper ul.selections.tree li div.sub-tree-item--wrapper .image-wrapper img {
  width: 3.5rem;
  height: 3.5rem;
}
.glossary-box--wrapper ul.selections.tree li div.sub-tree-item--wrapper .button {
  margin-top: auto;
}
.glossary-box--wrapper ul.selections li {
  position: relative;
  border-radius: 15px;
  width: 30rem;
  background-color: #fff;
  box-shadow: inset 0px -2px 1.3px #3a679f;
  transition: box-shadow 0.2s linear;
}
.glossary-box--wrapper ul.selections li:hover, .glossary-box--wrapper ul.selections li:focus-within {
  box-shadow: inset 0px -5px 1.3px #3a679f;
}
.glossary-box--wrapper ul.selections li:hover .image-wrapper, .glossary-box--wrapper ul.selections li:focus-within .image-wrapper {
  transform: translate(-50%, -60%);
}
.glossary-box--wrapper ul.selections li > a,
.glossary-box--wrapper ul.selections li .sub-tree-item {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 400;
  text-decoration: none;
  color: #1d334f;
  padding: 7rem 2rem 3rem;
}
.glossary-box--wrapper ul.selections li > a .image-wrapper,
.glossary-box--wrapper ul.selections li .sub-tree-item .image-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10rem;
  height: 10rem;
  background-color: #1d334f;
  border-radius: 50%;
  padding: 2rem;
  border: 5px solid #fff;
  overflow: hidden;
  transition: transform 0.2s linear;
}
.glossary-box--wrapper ul.selections li > a .image-wrapper img,
.glossary-box--wrapper ul.selections li .sub-tree-item .image-wrapper img {
  width: 5rem;
  height: 5rem;
  -o-object-fit: contain;
     object-fit: contain;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4.8rem;
}

body {
  overflow: auto;
}

main .cover-page {
  position: relative;
  background-image: url(../assets/background-image-cover-page.png);
  background-repeat: no-repeat;
  background-size: 100vw 90vh;
  background-position: top center;
}
main .cover-page > img {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 15rem;
}
main .cover-page > svg {
  position: absolute;
  top: 0;
}
main .cover-page > svg:first-of-type {
  right: 0;
}
main .cover-page > svg:last-of-type {
  left: 0;
}
main .cover-page > svg path {
  transition: filter 0.2s linear;
}
main .cover-page > svg path.glow {
  filter: drop-shadow(0 0 10px #fff);
}
main .cover-page--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12rem;
  padding: 0 2rem;
  height: 100%;
}
main .cover-page--wrapper:has(.tree) {
  display: block;
  text-align: start;
}
main .cover-page--wrapper:has(.tree) h1 {
  padding-top: 10rem;
}
main .cover-page--wrapper:not(:has(.tree)) h1 {
  margin-top: 10rem;
}

.contents-page navbar {
  display: block;
  width: 100%;
  background-color: #2e3743;
}
.contents-page navbar .navbar--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.contents-page navbar .navbar--wrapper .navbar-links {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.contents-page navbar .navbar--wrapper .navbar-links ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
.contents-page navbar .navbar--wrapper .navbar-links ul li a {
  text-decoration: none;
  color: #fff;
}
.contents-page navbar .search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contents-page navbar .search--wrapper {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  background-color: #f0f1f2;
  border-radius: 9999px;
  padding: 0.8rem 2rem 0.8rem 0;
  box-shadow: 0 0 0 2px #2f3b48;
}
.contents-page navbar .search--wrapper input[type=text] {
  border: none;
  background: transparent;
  font-size: 1.6rem;
  color: #3a679f;
  padding: 0.5rem 1rem;
  outline: none;
  width: 100%;
  min-width: 200px;
}
.contents-page navbar .search--wrapper input[type=text]::-moz-placeholder {
  color: #3a679f;
  opacity: 0.8;
}
.contents-page navbar .search--wrapper input[type=text]::placeholder {
  color: #3a679f;
  opacity: 0.8;
}
.contents-page navbar .search--wrapper .search-button {
  background: transparent;
  border: none;
  padding: 0;
  margin-left: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.contents-page navbar .search--wrapper .search-button svg {
  width: 2.4rem;
  height: 2.4rem;
}
.contents-page navbar .search--wrapper .search-button svg path {
  fill: #3a679f;
}
.contents-page .sidebar,
.contents-page .main-content {
  display: inline-block;
}
.contents-page .container {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
}
.contents-page .sidebar {
  max-width: 30rem;
  height: 100%;
  background-color: #f2f2f2;
}
.contents-page .sidebar--wrapper {
  padding: 0 2rem;
}
.contents-page .sidebar--wrapper ul {
  padding: 0;
  margin: 0;
}
.contents-page .sidebar ul li.has-submenu > ul {
  display: none;
}
.contents-page .sidebar ul li:not(:last-child) {
  margin-bottom: 1rem;
}
.contents-page .sidebar ul li {
  position: relative;
  list-style: none;
}
.contents-page .sidebar ul li > ul {
  margin-top: 1rem;
  padding-inline-start: 2rem;
}
.contents-page .sidebar ul li.active > a {
  background-color: #355276;
  color: #fff;
}
.contents-page .sidebar ul li.has-submenu::before, .contents-page .sidebar ul li.has-submenu::after {
  content: url("/assets/chevron.svg");
  position: absolute;
  top: 0;
  left: 0.5rem;
  color: #fff;
  transform: translate(0, 50%);
  display: inline-block;
  opacity: 1;
  transition: opacity 0.2s linear, transform 0.2s linear;
}
.contents-page .sidebar ul li.has-submenu::after {
  opacity: 0;
  content: url("/assets/white-chevron.svg");
}
.contents-page .sidebar ul li.has-submenu.open::before, .contents-page .sidebar ul li.has-submenu.open::after, .contents-page .sidebar ul li.has-submenu.active::before, .contents-page .sidebar ul li.has-submenu.active::after {
  transform: translate(0, 50%) rotate(90deg);
  opacity: 0;
}
.contents-page .sidebar ul li.has-submenu.active::after {
  opacity: 1;
}
.contents-page .sidebar ul li.has-submenu.open::before {
  transform: translate(0, 50%) rotate(90deg);
  opacity: 1;
}
.contents-page .sidebar ul li a {
  display: block;
  font-size: 1.4rem;
  text-decoration: none;
  color: #000;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem 1rem 3rem;
  transition: color 0.2s linear, background-color 0.2s linear;
}
.contents-page .main-content {
  width: 100%;
  height: 100%;
  vertical-align: top;
  background-color: #fff;
}
.contents-page .main-content .actionbar {
  background-color: #355276;
}
.contents-page .main-content .actionbar--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.contents-page .main-content .actionbar--wrapper .breadcrumbs--wrapper span {
  font-size: 1.6rem;
  color: #fff;
}
.contents-page .main-content .actionbar--wrapper .breadcrumbs--wrapper span:last-child {
  font-weight: 600;
}
.contents-page .main-content .actionbar--wrapper .actions--wrapper {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.contents-page .main-content .actionbar--wrapper .actions--wrapper .buttons-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contents-page .main-content .actionbar--wrapper .actions--wrapper .buttons-wrapper:first-child:before {
  content: "";
  position: absolute;
  height: 100%;
  right: -2rem;
  background-color: #fff;
  width: 1px;
}
.contents-page .main-content .actionbar--wrapper .actions--wrapper .buttons-wrapper button {
  border: unset;
  background-color: unset;
  padding: 0;
}
.contents-page .main-content .actionbar--wrapper .actions--wrapper .buttons-wrapper button:not(.video, .share) {
  cursor: pointer;
}
.contents-page .main-content .actionbar--wrapper .actions--wrapper .buttons-wrapper button.active:not(.video, .share) svg path, .contents-page .main-content .actionbar--wrapper .actions--wrapper .buttons-wrapper button:hover:not(.video, .share) svg path {
  fill: #000;
}
.contents-page .main-content .actionbar--wrapper .actions--wrapper .buttons-wrapper button svg {
  display: block;
  width: 2rem;
}
.contents-page .main-content .actionbar--wrapper .actions--wrapper .buttons-wrapper button svg path {
  transition: fill 0.2s linear;
}
.contents-page .main-content .content {
  display: none;
  padding: 2.5rem 4rem;
  font-size: 1.4rem;
}
.contents-page .main-content .content-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
}
.contents-page .main-content .content-wrapper p {
  width: 50%;
  line-height: 2.4rem;
  font-size: 1.5rem;
  text-align: justify;
  white-space: pre-line;
}
.contents-page .main-content .content-wrapper img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #000;
}
.contents-page .main-content .content.active {
  display: block;
}

.hide {
  display: none;
}/*# sourceMappingURL=style.css.map */